@model HomeModel
@{
    ViewData["Title"] = "Home";
}

<h3>Hello there, @Model.user.name!</h3>
<div>
    <span>Posts</span>
    <div>
        @foreach(PostPreviewModel preview in Model.posts)
        {
            <div>
                <span>
                    <a href="/post?id=@preview.post.id">@preview.post.title</a>
                     by <a href="/user?id=@preview.author.id">@preview.author.name</a>
                    @if(preview.group != null)
                    {
                        <text> in </text><a href="/group?id=@preview.">@preview.group.name</a>
                    }
                     at @preview.post.date
                </span>
            </div>
        }
    </div>
</div>

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->
