@using Shizzle.Structures
@model PostModel
@{
    ViewData["Title"] = $"\"{Model.post.title}\"";
}

<h1>@Model.post.title</h1>
<span>Posted by <a href="/user?id=@Model.author.id">@Model.author.name</a> 
    @if (Model.group != null) {<text>in</text> <a href="/group?id=@Model.group.id">@Model.group.name</a>} at @Model.post.date</span>
<br /> <!--Temporary break-->
<span>@Model.post.content</span>
<br /> <!--Temporary break-->
<div>
    @foreach(IComment comment in Model.comments)
    {
        <div>
            <a>comment.autho</a>
        </div>
    }
</div>
