@using Shizzle.Structures
@model PostModel
@{
    ViewData["Title"] = $"\"{Model.post.title}\"";
}

<h1>@Model.post.title</h1>
<span>Posted by <a href="/user?id=@Model.author.id">@Model.author.name</a> at @Model.post.date</span>
<br /> <!--Temporary break-->
@if(Model is GroupPostModel)
{
    <span>Posted in <a href="/group?id=@((Model as GroupPostModel).group.id)">@((Model as GroupPostModel).group.name)</a></span>
}
<br /> <!--Temporary break-->
<span>@Model.post.content</span>
<br /> <!--Temporary break-->
<div>
    @foreach(IComment comment in Model.comments)
    {
        <div>
            <a>comment.autho</a>
        </div>
    }
</div>
