@model GroupModel
@{
	ViewData["Title"] = Model.group.name;
}

<h2>@Model.group.name</h2>
<span>Owned by <a href="/user?id=@Model.owner.id">@Model.owner.name</a></span>

<br />

<div>
	@foreach(PostPreviewModel preview in Model.posts)
	{
		<div>
			<span>
				<a href="/post?id=@preview.post.id">@preview.post.title</a>
				 by <a href="/user?id=@preview.author.id">@preview.author.name</a>
				 at @preview.post.date
			</span>
		</div>
	}
</div>